
.formatting{
    background-color: rgb(77, 19, 213);
}
#kase{
   color: rgb(35, 3, 73);
}

#first_id{
    color: gold;
    text-decoration: wavy;
}
.bg-color{
    background-color: lightseagreen;
}
.color_font{
 text-decoration: wavy;
}